[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
pandas = "*"
python-dateutil = "*"
pytz = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
sklearn = "*"
flask = "*"
"autopep8" = "*"
"pymorphy2" = "*"
pymongo = "*"

[requires]
python_version = "3.6.5"
